//------------------------------------------- SASS VARIABLES  ------------------------------------------------//

/* - COLORS - */

//Brand Colors
$primary: #fa8451;
$primary-light: #ffc7af;
$primary-dark: #c24a17;

$secondary: #49d1a8;
$secondary-light: #a1f5dc;
$secondary-dark: #14926c;

//Grayscale Colors
$darkest: #3f3f3f;
$darker: #666;
$dark: #9d9d9d;
$medium: #cfcfcf;
$light: #ededed;
$lighter: #f9f9f9;
$lightest: #fdfdfd;

/* - FONTS - */

$font-stack: "Helvetica", sans-serif;

/* - LINKS - */

a {
  text-decoration: none;
  color: $darkest;
}

/* - LOADER - */

.loader {
  width: 100%;
  margin-top: calc(80% - 2em);
}

.loader svg {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
  transform-origin: center;
  animation: spin 0.5s infinite linear;
}

.loader-outer {
  fill: $light;
}

.loader-inner {
  fill: none;
  stroke: $primary;
  stroke-width: 4px;
}
/* - SEARCH PANEL - */

body {
  background-color: $lighter;
}

.container {
  width: 90vw;
}

.search-panel {
  background-color: white;
  width: 90vw;
  margin: auto;
}

.search-panel__btn {
  margin-top: 2em;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: $primary;
  font-size: 1em;
  font-weight: 500;
}

.search-input {
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}

.text-input__input {
  border: 1px solid $medium;
  border-radius: 2px;
  width: 100%;
  height: 2em;
}

.text-input__input input {
  border: none;
  margin-left: 0.5em;
  width: calc(100% - 0.5em);
  height: 100%;
  font-size: 1.2em;
  background-color: transparent;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 2em;
  background-color: transparent;
  border: 1px solid $medium;
}

.dropdown-toggle {
  width: 100%;
  height: 100%;
  padding-left: 0.5em;
  text-align: left;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
}

.dropdown-icon {
  fill: none;
  stroke: $dark;
  stroke-width: 1px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1em;
}

.dropdown-contents {
  position: absolute;
  background-color: #fff;
  border: 1px solid $light;
  width: 100%;
  max-height: 40vh;
  overflow: scroll;
  left: 0;
  box-shadow: 0px 8px 18px $light;
}

.dropdown-item button {
  padding: 0.5em 0em 0.5em 0.5em;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 1.2em;
}

.dropdown-item button:hover {
  background-color: $lighter;
  cursor: pointer;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabs button {
  position: relative;
  padding: 8px;
  border: none;
  font-size: 0.75em;
}

.tabs button:hover {
  opacity: 1;
  cursor: pointer;
}

.tabs button:focus {
  outline: 0px;
}

.tabs button svg {
  position: absolute;
  height: 0.5em;
  left: 0;
  bottom: -0.5em;
}

.tabs button svg rect {
  transition: width 0.25s ease-in-out;
}

.tab--active {
  background-color: #fff;
}

.tab--active svg rect {
  fill: $primary;
  width: 100%;
}

.tab--inactive {
  background-color: $light;
  opacity: 0.7;
}

.tab--inactive svg rect {
  fill: none;
  width: 0%;
}

//------------------------------------------- RESULTS --------------------------------------------------//

.search-results {
  width: 90vw;
  margin: 1em auto 1em auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.25em;
}

.search-result {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}

.result__name {
  font-family: $font-stack;
  margin-left: 1em;
}

.result__thumbnail-container {
  width: 25%;
}

.result__thumbnail-img {
  width: 84px;
  height: 84px;
  background-color: #eaeaea;
}

//------------------------------------------- RECIPE ---------------------------------------------------//

// RECIPE LAYOUT

.recipe-container {
  width: 100vw;
  display: block;
}

.recipe-header {
  display: block;
}

.recipe-main {
  display: block;
}

.recipe-instructions-desktop {
  display: none;
}

.recipe-instructions-mobile .ingredients,
.directions {
  animation: fadeIn 0.25s ease-in-out;
}

// RECIPE HEADER -------------- //

.recipe-header__img {
  width: 100%;
}

.recipe-header__details {
  padding: 1em;
}

.recipe-header__title {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 600;
  font-family: $font-stack;
  color: $darkest;
  text-transform: capitalize;
}

.recipe-header__info {
  margin-bottom: 0.75em;
  font-family: $font-stack;
  color: $dark;
}

// CONTROL PANEL -------------- //

.recipe-header__control-panel {
  display: flex;
  width: 33%;
}

.control-panel__btn {
  border: none;
  background-color: transparent;
  flex-basis: 50%;
  padding: 0;
  margin-right: 1em;
}

.recipe-header__control-panel button svg {
  opacity: 0.6;
  width: 100%;
  fill: $lighter;
  stroke: $medium;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.social-icons {
  display: flex;
  background-color: #fff;
}

.social-icon {
  border: 1px solid pink;
  width: 2em;
  transition: all 0.125s ease-in-out;
  margin-right: 0.5em;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#twitter-icon {
  fill: #1da1f2;
}

#facebook-icon {
  fill: #3b5998;
}

#pinterest-icon {
  fill: #e60023;
}

// INSTRUCTIONS -------------- //

.recipe-instructions {
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border: 1px solid $light;
  border-radius: 8px;
}

.instruction__header {
  font-size: 1.25em;
  font-weight: 900;
  margin-bottom: 1em;
}

/* INGREDIENTS */

.ingredients {
  font-family: $font-stack;
  padding-bottom: 2em;
  margin-top: 2em;
}

.ingredients-list {
  margin-top: 2em;
}

.ingredient {
  text-transform: capitalize;
  margin-top: 2em;
  font-size: 0.8em;
  font-weight: 200;
  color: $darkest;
  border-bottom: 1px dashed $light;
}

.ingredient__unit {
  font-weight: 900;
  color: $darkest;
}

/* DIRECTIONS */

.directions {
  position: relative;
  font-family: $font-stack;
  margin-top: 2em;
}

.directions__step {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
}

.directions__step--complete {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.directions__step--complete p {
  margin-left: -0.4em;
  font-size: 0.9em;
  font-weight: 800;
  color: $darkest;
}

.directions__step--complete svg {
  width: 1em;
  margin-right: 1em;
  margin-left: -0.3em;
}

.directions__step--complete svg circle {
  fill: $secondary;
}

.directions__step--complete svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.step__text {
  position: relative;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 0.9em;
  line-height: 1.6em;
  font-weight: 500;
  color: $darkest;
  text-align: justify;
}

.step__text::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 1.75em;
  height: 100%;
  width: 100%;
  border-left: 1px dashed $medium;
}

.step__number {
  position: relative;
  color: $dark;
  margin-right: 1em;
  font-weight: 900;
  text-align: center;
}

/* TAGS  */

.recipe-tags {
  font-family: $font-stack;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border: 1px solid $light;
  border-radius: 8px;
}

.recipe__tag {
  background-color: $light;
  font-size: 0.75em;
  color: $darker;
  display: inline-block;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 0.5em;
}

//------------------------------------------- ANIMATIONS ---------------------------------------------------//

.fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extra small devices */
@media only screen and (max-width: 500px) {
  .recipe-main {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, */
@media only screen and (min-width: 500px) {
  /* - RECIPE - */

  .recipe-header {
    display: flex;
    padding: 1em;
    flex-direction: row;
  }

  .recipe-header__img {
    width: 50%;
    height: auto;
  }

  .recipe-header__title {
    margin-bottom: 0.25em;
    font-size: 2.5em;
  }

  .recipe__info {
    margin-bottom: 0.75em;
    font-size: 1.25em;
  }

  .recipe-instructions-mobile {
    display: none;
  }

  .recipe-instructions-desktop {
    display: block;
  }

  .ingredients {
    margin-top: 1em;
    font-family: $font-stack;
    border-bottom: 1px solid $light;
  }

  .ingredients-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .instruction__header {
    font-size: 1.25em;
    font-weight: 900;
  }

  .ingredient {
    display: inline-block;
    margin-top: 1em;
    border-bottom: none;
  }

  /* RESULTS */

  .search-results {
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .search-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 4px 4px 4px 16px;
    border: 1px solid $medium;
  }

  .result__name {
    padding: 1em 0.5em 1em 0.5em;
    font-weight: 600;
  }

  .result__thumbnail-container {
    width: 100%;
  }

  .result__thumbnail-img {
    border-radius: 4px 4px 0px 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .recipe-header {
    align-items: center;
  }

  .recipe-header__title {
    font-size: 3em;
  }

  .ingredients-list {
    grid-template-columns: 33% 33% 33%;
  }

  .search-results {
    grid-template-columns: 33% 33% 33%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .recipe-main {
    display: block;
    width: 860px;
    margin-left: calc(380px + 3em);
  }

  .recipe-header {
    top: 3em;
    left: 3em;
    position: fixed;
    flex-direction: column;
    width: 380px;
    padding: 0em;
  }

  .recipe-header__details {
    padding: 1em 0em 0em 0em;
  }

  .recipe-instructions {
    padding: 2em;
  }

  .recipe-tags {
    padding: 2em;
  }

  .recipe-header__img {
    width: 100%;
  }

  .search-results {
    width: 70vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
