/* - COLORS - */
/* - FONTS - */
/* - SEARCH PANEL - */
body {
  background-color: #f9f9f9;
}

.container {
  width: 90vw;
}

.search-panel {
  background-color: white;
  width: 90vw;
  margin: auto;
}

.search-panel__btn {
  margin-top: 2em;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #fa8451;
  font-size: 1em;
  font-weight: 500;
}

.search-input {
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}

.text-input__input {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  width: 100%;
  height: 2em;
}

.text-input__input input {
  border: none;
  margin-left: 0.5em;
  width: calc(100% - 0.5em);
  height: 100%;
  font-size: 1.2em;
  background-color: transparent;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 2em;
  background-color: transparent;
  border: 1px solid #cfcfcf;
}

.dropdown-toggle {
  width: 100%;
  height: 100%;
  padding-left: 0.5em;
  text-align: left;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
}

.dropdown-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dropdown-contents {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ededed;
  width: 100%;
  max-height: 40vh;
  overflow: scroll;
  left: 0;
  box-shadow: 0px 8px 18px #ededed;
}

.dropdown-item button {
  padding: 0.5em 0em 0.5em 0.5em;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 1.2em;
}

.dropdown-item button:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabs button {
  position: relative;
  padding: 8px;
  border: none;
  font-size: 0.75em;
}

.tabs button:hover {
  opacity: 1;
  cursor: pointer;
}

.tabs button:focus {
  outline: 0px;
}

.tabs button svg {
  position: absolute;
  left: 0;
  bottom: -0.5em;
}

.tabs button svg rect {
  transition: width 0.25s ease-in-out;
}

.tab--active {
  background-color: #fff;
}

.tab--active svg rect {
  fill: #fa8451;
  width: 100%;
}

.tab--inactive {
  background-color: #ededed;
  opacity: 0.7;
}

.tab--inactive svg rect {
  fill: none;
  width: 0%;
}

/* Result */
.search-results {
  width: 90vw;
  margin: 1em auto 1em auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.25em;
}

.search-result {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}

.result__name {
  font-family: "Helvetica", sans-serif;
  margin-left: 1em;
}

.result__thumbnail {
  width: 25%;
}

/* RECIPE */
.recipe__img {
  width: 100%;
  margin-bottom: 0.5em;
}

.recipe__title {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
  color: #3f3f3f;
}

.recipe__info {
  margin-bottom: 0.75em;
  font-family: "Helvetica", sans-serif;
  color: #9d9d9d;
}

.social-icons {
  display: flex;
  margin-bottom: 2em;
}

.social-icon {
  border: 1px solid pink;
  width: 2em;
  transition: all 0.125s ease-in-out;
  margin-right: 0.5em;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#twitter-icon {
  fill: #1da1f2;
}

#facebook-icon {
  fill: #3b5998;
}

#pinterest-icon {
  fill: #e60023;
}

/* INGREDIENTS */
.ingredients {
  font-family: "Helvetica", sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
}

.instruction__header {
  font-size: 1.25em;
  font-weight: 900;
}

.ingredient {
  text-transform: capitalize;
  margin-top: 1em;
}

/* DIRECTIONS */
.directions {
  font-family: "Helvetica", sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
}

.directions__step {
  margin-top: 1em;
}

.step__text {
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.6em;
  font-weight: 500;
  color: #3f3f3f;
}

/* ANIMATIONS */
.fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
