/* - COLORS - */

//Brand Colors
$primary: #fa8451;
$primary-light: #ffc7af;
$primary-dark: #c24a17;

$secondary: #49d1a8;
$secondary-light: #a1f5dc;
$secondary-dark: #14926c;

//Grayscale Colors
$darkest: #3f3f3f;
$darker: #666;
$dark: #9d9d9d;
$medium: #cfcfcf;
$light: #ededed;
$lighter: #f9f9f9;
$lightest: #fdfdfd;

/* - FONTS - */

$font-stack: "Helvetica", sans-serif;

/* - SEARCH PANEL - */

body {
  background-color: $lighter;
}

.search-panel {
  background-color: white;
  width: 90vw;
  margin: auto;
}

.search-panel__btn {
  margin-top: 2em;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: $primary;
  font-size: 1em;
  font-weight: 500;
}

.search-input {
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}

.text-input__input {
  border: 1px solid $medium;
  border-radius: 2px;
  width: 100%;
  height: 2em;
}

.text-input__input input {
  border: none;
  margin-left: 0.5em;
  width: calc(100% - 0.5em);
  height: 100%;
  font-size: 1.2em;
  background-color: transparent;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 2em;
  background-color: transparent;
  border: 1px solid $medium;
}

.dropdown-toggle {
  width: 100%;
  height: 100%;
  padding-left: 0.5em;
  text-align: left;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
}

.dropdown-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}

.dropdown-contents {
  position: absolute;
  background-color: #fff;
  border: 1px solid $light;
  width: 100%;
  max-height: 40vh;
  overflow: scroll;
  left: 0;
  box-shadow: 0px 8px 18px $light;
}

.dropdown-item button {
  padding: 0.5em 0em 0.5em 0.5em;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 1.2em;
}

.dropdown-item button:hover {
  background-color: $lighter;
  cursor: pointer;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabs button {
  position: relative;
  padding: 8px;
  border: none;
  font-size: 0.75em;
}

.tabs button:hover {
  opacity: 1;
  cursor: pointer;
}

.tabs button:focus {
  outline: 0px;
}

.tabs button svg {
  position: absolute;
  left: 0;
  bottom: -0.5em;
}

.tabs button svg rect {
  transition: width 0.25s ease-in-out;
}

.tab--active {
  background-color: #fff;
}

.tab--active svg rect {
  fill: $primary;
  width: 100%;
}

.tab--inactive {
  background-color: $light;
  opacity: 0.7;
}

.tab--inactive svg rect {
  fill: none;
  width: 0%;
}

/* Result */

.search-results {
  width: 90vw;
  margin: 1em auto 1em auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.25em;
}

.search-result {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}

.result__name {
  font-family: $font-stack;
  margin-left: 1em;
}

.result__thumbnail {
  width: 25%;
}

/* RECIPE */

.recipe__img {
  width: 100%;
}

.recipe__title {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 600;
  font-family: $font-stack;
  color: $darkest;
}

.recipe__info {
  font-family: $font-stack;
  color: $dark;
}

.social-icons {
  display: flex;
}

.social-icon {
  border: 1px solid pink;
  width: 2em;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#twitter-icon {
  fill: #1da1f2;
}

#facebook-icon {
  fill: #3b5998;
}

#pinterest-icon {
  fill: #e60023;
}

/* ANIMATIONS */

.fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
