//------------------------------------------- SASS VARIABLES  ------------------------------------------------//

/* - COLORS - */

//Brand Colors
$primary: #fa8451;
$primary-light: #ffc7af;
$primary-dark: #c24a17;

$secondary: #49d1a8;
$secondary-light: #a1f5dc;
$secondary-dark: #14926c;

//Grayscale Colors
$darkest: #3f3f3f;
$darker: #666;
$dark: #9d9d9d;
$medium: #cfcfcf;
$light: #ededed;
$lighter: #f9f9f9;
$lightest: #fdfdfd;

//Shadows

$shadow1: rgba(0, 0, 0, 0.1);

/* - FONTS - */

$font-stack: "Helvetica", sans-serif;
$font-stack-serif: "Georgia", serif;

/* - LINKS - */

a {
  text-decoration: none;
  color: $darkest;
}

//------------------------------------------- CONTAINER --------------------------------------------------//

body {
  background-color: $lighter;
  position: relative;
}

.container {
  position: relative;
  width: 90vw;
  margin: auto;
}

/* - LOADER - */

.loader {
  width: 100%;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.loader svg {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
  transform-origin: center;
  animation: spin 0.5s infinite linear;
}

.loader-outer {
  fill: $light;
}

.loader-inner {
  fill: none;
  stroke: $primary;
  stroke-width: 4px;
}
/* - SEARCH PANEL - */

.search-panel {
  background-color: white;
  width: 100%;
  margin: auto;
  box-shadow: 0px 4px 8px $shadow1;
  border-radius: 0px 0px 8px 8px;
}

.search-input__btn {
  margin-top: 2em;
  flex-basis: 100%;
  height: 3em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: $primary;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

.search-input {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}

.search-input__input {
  flex-basis: 100%;
}

.text-input__input {
  border: 1px solid $medium;
  border-radius: 2px;
  width: 99%;
  height: 1.5em;
  font-size: 1.2em;
}

.text-input__input input {
  border: none;
  margin-left: 0.5em;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  background-color: transparent;
}

.text-input--autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.autocomplete-items--open {
  position: absolute;
  top: 3.5em;
  max-height: 40vh;
  width: 100%;
  overflow: scroll;
  background-color: #fff;
  box-shadow: 0px 2px 8px $shadow1;
  animation: fadeIn 0.125s ease-in-out;
}

.autocomplete-items--closed {
  height: 0em;
}

.autocomplete-items__item {
  font-family: $font-stack;
  text-transform: capitalize;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.autocomplete-items__item:hover {
  background-color: $light;
  cursor: pointer;
}

.dropdown-input {
  position: relative;
}

.dropdown-input__input {
  position: relative;
  width: 100%;
  height: 1.7em;
  background-color: transparent;
  font-size: 1.2em;
  text-align: left;
  border: 1px solid $medium;
  border-radius: 2px;
}

.dropdown-input__input:hover {
  cursor: pointer;
}

.dropdown-input__contents {
  position: absolute;
  width: 100%;
  max-height: 40vh;
  background-color: #fff;
  overflow: scroll;
  box-shadow: 0px 8px 18px $shadow1;
}

.dropdown-input__item {
  padding: 0.5em 0em 0.5em 0.5em;
  font-family: $font-stack;
  font-size: 1.2em;
}

.dropdown-input__item:hover {
  background-color: $light;
  cursor: pointer;
}

.dropdown-input__icon {
  fill: none;
  stroke: $dark;
  stroke-width: 1px;
  position: absolute;
  right: 8px;
  top: 2.1em;
  width: 1em;
}

.label {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tabs button {
  position: relative;
  padding: 8px;
  border: none;
  font-size: 0.75em;
}

.tabs button:hover {
  opacity: 1;
  cursor: pointer;
}

.tabs button:focus {
  outline: 0px;
  box-shadow: 0px 2px 8px $shadow1;
}

.tabs button svg {
  position: absolute;
  height: 0.5em;
  left: 0;
  bottom: -0.5em;
}

.tabs button svg rect {
  transition: width 0.25s ease-in-out;
}

.tab--active {
  background-color: #fff;
}

.tab--active svg rect {
  fill: $primary;
  width: 100%;
}

.tab--inactive {
  background-color: $light;
  opacity: 0.7;
}

.tab--inactive svg rect {
  fill: none;
  width: 0%;
}
//-------------------------------------------- NAVBAR --------------------------------------------------//

.navbar {
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.navbar__links--desktop {
  display: none;
}

.navbar__menu-toggle {
  width: 4.5em;
  height: 4.5em;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 2px 8px $shadow1;
}

.navbar__menu-toggle:focus {
  outline: none;
  box-shadow: 0px 2px 8px $shadow1;
}

.navbar__menu-toggle svg {
  stroke: $darker;
  stroke-width: 2px;
  width: 100%;
}

.navbar__menu-toggle span {
  font-size: 2.5em;
  line-height: 0.75em;
  text-align: center;
  color: $darker;
  animation: fadeIn 0.125s ease-in-out;
}

.navbar__menu-links--hide {
  display: none;
}

.navbar__menu-links--show {
  position: absolute;
  display: block;
  z-index: -2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #fff;
  animation: fadeIn 0.125s ease-in-out;
}

.navbar__menu-links--show li {
  margin-top: 6em;
}

.navbar__menu-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $font-stack;
  font-weight: 800;
  font-size: 1.4em;
}

.navbar__menu-link p {
  position: relative;
  margin-left: 0.25em;
}

.navbar__menu-links--show li svg {
  display: inline-block;
  fill: none;
  stroke: $darkest;
  stroke-width: 2px;
  stroke-linejoin: round;
  width: 1.4em;
  height: 1.4em;
}

//-------------------------------------------- HERO --------------------------------------------------//

.hero {
  font-family: $font-stack;
  background-image: url("../img/bg_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -20vh;
}

.hero header {
  color: #fff;
  padding: 20vh 1em 8vh 1em;
  text-align: center;
}

.hero__header {
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0px 2px 8px $shadow1;
}

.hero__subheader {
  margin: 1em auto auto auto;
  width: 90%;
  text-shadow: 0px 2px 8px $shadow1;
  font-weight: 200;
  font-family: $font-stack-serif;
  font-style: italic;
}
//------------------------------------------ FEATURES --------------------------------------------------//

.home__section-header {
  font-family: $font-stack-serif;
  font-weight: 700;
  color: $darker;
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.features {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  z-index: -1;
  margin-top: 8vh;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.feature__header {
  font-family: $font-stack;
  font-weight: 700;
  line-height: 1.4em;
  color: $darkest;
  text-align: center;
}

.feature__description {
  text-align: center;
  font-family: $font-stack;
  font-size: 0.9em;
  line-height: 1.4em;
  color: $darker;
}

//------------------------------------------- RESULTS --------------------------------------------------//

.results-panel {
  width: 100vw;
  font-family: $font-stack;
  padding: 6em 0em 1em 1em;
  background-color: #fff;
  border: 1px solid $light;
}

.results-panel__count {
  color: $dark;
  font-size: 0.9em;
  font-style: italic;
}

.results-panel__count span {
  color: $darkest;
  font-style: normal;
  font-weight: 800;
}

.results-panel__value {
  color: $darkest;
  font-size: 1.4em;
  font-weight: 800;
}

.search-results {
  width: 90vw;
  margin: 1em auto 1em auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.25em;
}

.search-result {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
}

.result__name {
  font-family: $font-stack;
  text-transform: capitalize;
  margin-left: 1em;
  width: 50%;
}

.result__thumbnail-container {
  width: 25%;
}

.result__thumbnail-img {
  width: 84px;
  height: 84px;
  background-color: #eaeaea;
}

.result__bookmark {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  padding: 0px;
  fill: $primary;
  stroke: $primary;
  stroke-width: 2px;
  stroke-linejoin: round;
}

//------------------------------------------- RECIPE ---------------------------------------------------//

// RECIPE LAYOUT

.recipe-container {
  width: 100vw;
  display: block;
}

.recipe-header {
  display: block;
}

.recipe-main {
  display: block;
}

.recipe-instructions-desktop {
  display: none;
}

.recipe-instructions-mobile .ingredients,
.directions {
  animation: fadeIn 0.25s ease-in-out;
}

// RECIPE BREADCRUMB -------------- //

.recipe__breadcrumb {
  display: none;
}

.recipe__back-mobile {
  display: block;
  margin-top: 5em;
  margin-bottom: 1em;
}

.recipe__back-btn {
  padding: 0.25em 1em 0.25em 1em;
  border: 1px solid;
}

// RECIPE HEADER -------------- //

.recipe-header__img {
  width: 100%;
}

.recipe-header__details {
  padding: 1em 1em 0em 1em;
  width: 100%;
}

.recipe-header__title {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 600;
  font-family: $font-stack;
  color: $darkest;
  text-transform: capitalize;
}

.recipe-header__info {
  margin-bottom: 1em;
  font-family: $font-stack-serif;
  font-style: italic;
  color: $dark;
}

// CONTROL PANEL -------------- //

.recipe-header__control-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $light;
  border: 1px solid $medium;
  padding: 0.5em;
  border-radius: 4em;
}

.control-panel__btn {
  height: 3em;
  position: relative;
  background-color: #fff;
  flex-basis: 32%;
  padding: 0.5em;
  border: 1px solid $medium;
  border-radius: 2em;
  color: $darker;
  font-weight: 500;
}

.control-panel__btn:hover {
  box-shadow: 0px 2px 4px $shadow1;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  color: $darkest;
}

.control-panel__btn:focus {
  outline: none;
  box-shadow: 0px 0px 8px #999;
}

.control-panel__btn svg {
  position: absolute;
  left: 0.5em;
  top: 0.4em;
  width: 2em;
}

#control-panel__yt-icon,
#control-panel__share-btn {
  stroke: $dark;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.control-panel__bookmark-icon--inactive {
  stroke: $dark;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.control-panel__bookmark-icon--active {
  stroke: $primary;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: $primary;
}

.social-icons {
  display: flex;
  background-color: #fff;
}

.social-icon {
  border: 1px solid pink;
  width: 2em;
  transition: all 0.125s ease-in-out;
  margin-right: 0.5em;
}

.social-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

#twitter-icon {
  fill: #1da1f2;
}

#facebook-icon {
  fill: #3b5998;
}

#pinterest-icon {
  fill: #e60023;
}

// INSTRUCTIONS -------------- //

.recipe-instructions {
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border: 1px solid $light;
  border-radius: 8px;
}

.instruction__header {
  font-family: $font-stack;
  font-size: 1.25em;
  font-weight: 900;
  margin-bottom: 1em;
  color: $darkest;
}

/* INGREDIENTS */

.ingredients {
  font-family: $font-stack;
  padding-bottom: 2em;
  margin-top: 2em;
}

.ingredients-list {
  margin-top: 2em;
}

.ingredient {
  text-transform: capitalize;
  margin-top: 2em;
  font-size: 0.8em;
  font-weight: 200;
  color: $darkest;
  border-bottom: 1px dashed $light;
}

.ingredient__unit {
  font-weight: 900;
  color: $darkest;
}

/* DIRECTIONS */

.directions {
  position: relative;
  font-family: $font-stack-serif;
  margin-top: 2em;
}

.directions__step {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
}

.directions__step--complete {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.directions__step--complete p {
  margin-left: -0.4em;
  font-size: 0.9em;
  font-family: $font-stack;
  font-weight: 800;
  color: $darkest;
}

.directions__step--complete svg {
  width: 1em;
  margin-right: 1em;
  margin-left: -0.3em;
}

.directions__step--complete svg circle {
  fill: $secondary;
}

.directions__step--complete svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.step__text {
  position: relative;
  margin-top: 1em;
  margin-right: 1em;
  font-size: 0.9em;
  line-height: 1.6em;
  font-weight: 500;
  color: $darkest;
  text-align: justify;
}

.step__text::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 1.75em;
  height: 100%;
  width: 100%;
  border-left: 1px dashed $medium;
}

.step__number {
  font-family: $font-stack;
  position: relative;
  color: $dark;
  margin-right: 1em;
  font-weight: 900;
  text-align: center;
}

/* TAGS  */

.recipe-tags {
  font-family: $font-stack;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  background-color: #fff;
  border: 1px solid $light;
  border-radius: 8px;
}

.recipe__tag {
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  font-size: 0.75em;
  color: $darker;
  background-color: $light;
}

//--------------------------------------------- BOOKMARKS --------------------------------------------------//

.bookmarks {
  padding-top: 6em;
}

.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  width: 100%;
  border: 1px solid $light;
  border-radius: 2em 2px 2px 2em;
  font-family: $font-stack;
  background-color: #fff;
}

.bookmark__contents {
  flex-basis: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookmark__text {
  text-transform: capitalize;
  margin-left: 1em;
}

.bookmark__img {
  border: 1px solid $light;
  border-radius: 100%;
  flex-basis: 2%;
  width: 4em;
}

.bookmark__remove-btn {
  flex-basis: 5%;
  font-size: 1.5em;
  background-color: transparent;
  color: $medium;
  border: none;
}
//-------------------------------------------- EMPTY STATE ---------------------------------------------------//

.empty-state {
  width: 100%;
  font-family: $font-stack;
}

.empty-state__img {
  width: 80%;
  margin-left: 10%;
  margin-top: 10vh;
}

.empty-state__main-text {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: $darker;
}

.empty-state__sub-text {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  color: $dark;
}

//------------------------------------------- ANIMATIONS ---------------------------------------------------//

.fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.7, 0.7);
  }
  70% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Extra small devices */
@media only screen and (max-width: 500px) {
  .recipe-main {
    flex-direction: column;
  }
}

//------------------------------------------- SMALL DEVICES ---------------------------------------------------//

/* Small devices (portrait tablets and large phones, */
@media only screen and (min-width: 500px) {
  /* - FEATURES - */

  .home__section-header {
    margin-top: 3em;
  }

  .feature {
    flex-direction: row;
  }

  .feature__details {
    margin-left: 2em;
    text-align: left;
  }

  .feature__header {
    text-align: left;
  }

  .feature__description {
    text-align: left;
  }

  /* - RECIPE - */

  // RECIPE BREADCRUMB -------------- //

  .recipe__back-mobile {
    display: none;
  }

  .recipe__breadcrumb {
    display: inline-block;
    justify-content: space-between;
    margin-top: 6em;
    margin-bottom: 1em;
    font-family: $font-stack;
    color: $dark;
  }

  .recipe__breadcrumb a:nth-child(2) {
    margin-left: 0.5em;
  }

  .recipe__breadcrumb a {
    display: inline;
    margin-right: 0.5em;
  }

  .recipe__breadcrumb a:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .recipe__breadcrumb p {
    font-weight: 800;
    display: inline;
    text-transform: capitalize;
    color: $darkest;
    margin-left: 0.25em;
  }

  .recipe-header {
    display: flex;
    padding: 1em;
    flex-direction: row;
  }

  .recipe-header__img {
    width: 50%;
    height: auto;
  }

  .recipe-header__title {
    margin-bottom: 0.25em;
    font-size: 2.5em;
  }

  .recipe-header__info {
    margin-bottom: 0.75em;
    font-size: 1.25em;
  }

  .recipe-instructions-mobile {
    display: none;
  }

  .recipe-instructions-desktop {
    display: block;
  }

  .ingredients {
    margin-top: 1em;
    font-family: $font-stack;
    border-bottom: 1px solid $light;
  }

  .ingredients-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .instruction__header {
    font-size: 1.25em;
    font-weight: 900;
  }

  .ingredient {
    display: inline-block;
    margin-top: 1em;
    border-bottom: none;
  }

  /* RESULTS */

  .search-results {
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
  }

  .search-result {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 4px 4px 4px 16px;
    border: 1px solid $medium;
    transition: all 0.25s ease-in-out;
  }

  .search-result:hover {
    transform: translateY(-0.5em);
    box-shadow: 0px 2px 8px $shadow1;
  }

  .search-result:hover .result__thumbnail-img {
    opacity: 1;
  }

  .result__name {
    height: 40%;
    width: calc(100% - 1em);
    bottom: 0px;
    left: -1em;
    padding: 1em 0.5em 1em 0.5em;
    font-weight: 600;
    font-size: 1em;
  }

  .result__thumbnail-container {
    width: 100%;
    height: auto;
  }

  .result__thumbnail-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px 4px 4px 16px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .search-result:hover .result__thumbnail-img {
    opacity: 0.75;
  }

  .result__bookmark {
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 1em;
  }
}
//------------------------------------------- MEDIUM DEVICES  ---------------------------------------------------//
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: url("../img/bg_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  .hero__header {
    font-size: 3.5em;
  }

  .hero__subheader {
    font-size: 1.4em;
  }

  .search-panel {
    width: 70%;
  }

  .home__section-header {
    margin-top: 3em;
    font-size: 1.75em;
  }

  .features {
    grid-template-columns: 33% 33% 33%;
    align-items: start;
  }

  .feature {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .feature__img {
    width: 30%;
    margin: auto;
  }

  .feature__details {
    text-align: center;
    width: 65%;
    margin: auto;
  }

  .feature__header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  .feature__description {
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
  }

  .recipe-header {
    align-items: center;
  }

  .recipe-header__title {
    font-size: 3em;
  }

  .recipe-header__info {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .ingredients-list {
    grid-template-columns: 33% 33% 33%;
  }

  .search-results {
    grid-template-columns: 33% 33% 33%;
  }

  .result__name {
    font-size: 1.2em;
  }

  .navbar {
    background-color: #fff;
    box-shadow: 0px 1px 8px $shadow1;
  }

  .navbar__links--desktop {
    display: flex;
  }

  .navbar__links--mobile {
    display: none;
  }

  .navbar__menu-link {
    font-size: 1.2em;
    opacity: 0.8;
  }

  .navbar__menu-link:hover {
    opacity: 1;
    cursor: pointer;
  }

  .navbar__menu-link svg {
    display: inline-block;
    fill: none;
    stroke: $darkest;
    stroke-width: 2px;
    stroke-linejoin: round;
    width: 1.2em;
    height: 1.2em;
  }

  .empty-state__img {
    width: 50%;
    margin-left: 25%;
  }

  .empty-state__main-text {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 0.5em;
  }

  .empty-state__sub-text {
    width: 50%;
    margin-left: 25%;
  }

  .bookmark {
    border-radius: 8em 4px 4px 8em;
    align-items: flex-start;
  }

  .bookmark__contents {
    flex-basis: 60%;
    transition: all 0.125s ease-in-out;
  }

  .bookmark__contents:hover {
    opacity: 0.7;
  }

  .bookmark__contents:hover .bookmark__text {
    transform: translateX(2em);
  }

  .bookmark__img {
    flex-basis: 20%;
  }

  .bookmark__text {
    font-weight: 600;
    transition: all 0.125s ease-in-out;
  }

  .bookmark__remove-btn {
    margin-top: 0.5em;
    font-size: 2.2em;
  }

  .bookmark__remove-btn:hover {
    color: $dark;
    cursor: pointer;
  }
}

//------------------------------------------- LAPTOP + DESKTOP ---------------------------------------------------//
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 90vw;
    margin: auto;
  }

  .hero header {
    padding: 25vh 1em 15vh 1em;
  }

  .hero__header {
    font-size: 5em;
  }

  .hero__subheader {
    font-size: 1.5em;
  }

  .search-panel {
    width: 70%;
    background-color: transparent;
    padding-bottom: 15vh;
    box-shadow: none;
  }

  .search-panel .tabs button {
    position: relative;
    font-size: 1em;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding: 16px;
    border-radius: 2em;
  }

  .search-panel .tabs button:focus {
    box-shadow: 0px 0px 8px #fff;
  }

  .search-panel .tab--active {
    opacity: 1;
    background-color: #fff;
  }

  .search-panel .tab--active::before {
    content: " ";
    position: absolute;
    width: 0.75em;
    height: 0.75em;
    top: 1.2em;
    left: 1em;
    border-radius: 100%;
    background-color: $primary;
  }

  .search-panel .tab--active svg rect {
    display: none;
  }

  .search-panel .tab--inactive {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2em;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
  }

  .search-panel .text-input__input {
    height: 2em;
  }

  .search-panel .dropdown-input__input {
    height: 2.2em;
    background-color: #fff;
  }

  .search-panel .dropdown-input__icon {
    top: 2.7em;
    right: 12px;
  }

  .search-panel .dropdown-input__contents {
    max-height: 20vh;
  }

  .search-input {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;
    padding: 0.5%;
  }

  .search-panel .search-input__input {
    flex-basis: 82%;
    background-color: none;
  }

  .search-panel .search-input__input label {
    color: #fff;
    font-size: 0.8em;
  }

  .search-input__btn {
    margin-top: 0em;
    flex-basis: 17%;
    height: 2.7em;
    padding: 0.9em 1em;
    border-radius: 2px;
    color: #fff;
  }

  .empty-state__img {
    width: 20%;
    margin-left: 40%;
    margin-top: 10vh;
  }

  .result__name {
    font-size: 1.4em;
  }

  .recipe-container {
    position: relative;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-gap: 1em;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe-main {
    display: block;
    width: 100%;
    max-height: 80vh;
    overflow: scroll;
  }

  .recipe-header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0em;
  }

  .control-panel__btn {
    height: 4em;
    font-size: 0.8em;
  }

  .control-panel__btn svg {
    left: 1em;
    top: 0.95em;
    width: 2em;
  }

  .recipe__back-btn {
    margin-top: 6em;
    margin-bottom: 1em;
    margin-left: 0em;
  }

  .recipe-header__details {
    padding: 1em 0em 0em 0em;
  }

  .recipe-instructions {
    padding: 2em 2em 2em 2em;
    margin-top: 0em;
  }

  .recipe-tags {
    padding: 2em;
  }

  .recipe-header__img {
    width: 100%;
  }

  .search-results {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
